/*
Import Lall fonts first
*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&family=Raleway&family=Roboto&display=swap');

h1 {
    font-family: 'Quicksand', sans-serif;
}
h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}
p, body {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0px;
}
.content-area {
    padding: 20px;
    display: flex;
}
.content {
    width: 100%;
    margin-top: 20%;
    display: grid;
    grid-template-columns: 40% 60%;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #484848;
        color: white;
    }
    header, footer {
        background-color: #333;
    }
    text, html, p {
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
    }
}

#main-content {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
}
header {
    grid-area: 1 / 1 / 1 / 1;
    padding: 20px;
}
footer {
    grid-area: 2 / 1 / 2 / 1;
    padding: 20px;
    display: flex;
    align-items: end;
}
img {
    max-width: 100%;
}
#my-info {
    text-align: center;
}
.headshot img {
    border-radius: 50%;
    width: 75%;
}

.contact-info a {
    color: #e57253;
}
.email a {
    display: flex;
    justify-content: center;
    align-items: center;
}